body{
    padding: 0px;
    margin: 0px;

}

.navbar{
    /* background-color: black; */
    height: 80px;
    display: flex;
    /* justify-content: center; */
    /* /* align-items: center; */
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow:hidden; 
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    
}


.navbar a{
    text-decoration: none;
}

.home,.tour,.logo,.contact,.login,.signup,.search{
    /* background-color: rgb(192, 42, 42); */
    /* width: 150px;
    height: 40px; */
    font-family: "Abel", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    display: inline-flex;
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    /* letter-spacing: 2px; */

}



.login{
    margin-left: auto;
}

.logoimg{
    width: 120px;
    height: 120px;
    /* margin-top: -50px; */
    /* position: relative; */
    /* bottom: 55px; */
    /* position: absolute; */
    /* top: -30px; */
    /* overflow: hidden; */
}


.navbar *{
    color: black;
}

.navbar i{
    margin-right: 5px;
}

/* .searchIcon{
    opacity: 100%;
} */


.img{
    /* background-size: cover; */
    width: 100%;
    position: relative;
    height: auto;
    /* background-size:auto; */
    overflow: hidden;
    /* position: relative; */
}

.navbar i{
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in, color 0.3s ease-in;
}

span{
    transition: transform 0.3s ease-in, color 0.3s ease-in;
}

.navbar a:hover i{
    opacity: 100%;
    transform: translateX(-25px);
    color: rgb(30, 131, 255);
}



div a:hover span{
    transform: scale(0.8);
    color: grey;
}

.navbar a#activate{
    border-bottom: solid rgb(150, 76, 236) 2px;
}

.searchIcon{
    transition: none !important;
    opacity: 1 !important;
    font-size: 20px;
    margin-top: -10px;
    /* margin-right: 0px; */
}
.search:hover i {
    transform: translateX(0) !important;
    opacity: 1 !important;
    color: black !important; /* optional if you want it unchanged */
}
.background{
    position: relative;
    height: 450px;
    overflow: hidden;
}

.background h1{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom:50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    font-weight: 1000;
    letter-spacing: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 252, 252, 0.83);

}


.background h2{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom:49%;
    text-shadow: white;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-size: 20px;
    letter-spacing: 10px;
    font-family: "Abel", sans-serif;
    text-shadow: 2px 2px 4px rgb(255, 250, 250);

}

.background a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 181, 13);
    padding: 15px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    top: 70%;
    transform: translateX(-50%);
    transition: box-shadow 0.3s ease-in, color 0.3s ease-in, background-color 0.3s ease-in;
}

.background a:hover{
    /* transform:scale(1.01); */
    box-shadow: 0 4px 10px rgb(243, 118, 154);
    color: rgb(0, 0, 0);
    background-color: rgb(12, 143, 5);
}

.information{
    /* margin: 20px ; */
    font-family: 'Anton', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 5%;
    height: 100%;
    justify-content: center;
    align-items:center;
    background-color: rgb(255, 255, 255);
    /* overflow: hidden; */
    margin: 10px;

}
.information div{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    /* height: 200px; */
    font-family: "Abel", sans-serif;
    /* width: 350px; */
    padding: 10px;
    background-color: rgba(171, 168, 168, 0.381);
    transition: box-shadow 0.2s ease-in;
    box-shadow: 0px 4px 10px 2px rgb(73, 74, 73); 

}

.information div:hover{
    cursor: pointer;

}

.aboutus{
    position: relative;
    background-color: rgb(234, 234, 234);
    padding: 40px;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
} 

.aboutus .info{
    position: absolute;
    width: 50%;
    background-color: black;
    padding: 20px;
    top: -30px;
    margin: 60px;
    margin-left: 20px;
}
.aboutus h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.aboutus p{
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    font-family: "Abel", sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.aboutus .extra{
    font-family: "Abel", sans-serif;
    position: absolute;
    left: 65%;
    top: 10%;
    text-align: center;
} 

.extra h1{
    color: black;
}

.extra img{
    width: 200px;
} 


footer{
    text-align: center;
    padding: 30px;
    font-family: "Abel", sans-serif;

}

footer a{
    text-decoration:underline;
    color: black;
    margin-right: 20px;
}


.tour_body, .contactBody{
    margin: 0;
    font-family: 'Abel', sans-serif;
    background: url(tourbackground.png);
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    position: relative;
}

.card {
    background-color: rgb(50, 50, 50);
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 1.3rem;
}

.card-content p {
    font-size: 0.95rem;
    line-height: 1.4;
}

.book div{
    background-color: rgba(255, 255, 255, 0.738);
    padding: 20px;
    border-radius: 10px;
    width: 50px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50%; 
    transform: translateX(-50%); 
    cursor: pointer;
    overflow: hidden;
    text-decoration:  none;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

a{
    text-decoration: none;
}

.book div:hover{
    background-color: rgb(12, 143, 5);
    color: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255,255,255,0.2);
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination a {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    /* cursor: pointer; */
    font-weight: bold;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in;
}

.pagination a:hover{
    background-color: black;
    color: white;
    border:1px solid white;
}

.pagination a.activate {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

/* Contact Page  */


.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 24px;
}

.body {
    display: flex;
    gap: 10px;            
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.414);
}


.form {
    flex: 3;
}


.contactinfo {
    flex: 1;
}

input, textarea,button{
    width: 50%;
    padding: 1%;
    border-radius: 10px;
    margin: 20px;
}

button{
    /* margin-top: 20px;
    /* padding: 1.5%; */
    border-radius: 2px;
    width: 80px;
    border: none;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

.footer {
    background: #f5f5f5;
    text-align: center;
    /* height: 100px; */
}

.footer h1{
    text-align: center;
    color: black;
    padding-top: 20px;
}

.footer i{
    color: black;
    font-size: 30px;
    padding:0px 20px 20px;
}

.facebook{
    transition: color 0.2s ease-in;
}
.facebook:hover{
    color: rgb(70, 155, 228);
}

.instagram{
    transition: color 0.2s ease-in;
}

.instagram:hover{
    color: rgb(220, 30, 138)
}

.whatsapp{
    transition: color 0.2s ease-in;
}

.whatsapp:hover{
    color: rgb(17, 155, 17);
}

.twitter{
    color: rgb(255, 255, 255);
    transition: color 0.2s ease-in;
}

.twitter:hover{
    color: rgb(255, 0, 0);
}


.loginBody{
    margin: 0;
    height: 100vh;
    background: url("https://wallpaperaccess.com/full/5665906.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in, transform  0.3s ease-in;
}

.login-container:hover{
    box-shadow: 10px 10px 50px rgb(176, 227, 235);
    transform: scale(1.01);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.login-container input {
    width: 100%;
    padding:10px;
    margin: 12px -7px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin: 12px 5px 10px;
    background: #000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-container button:hover{
    color: black;
    background-color:rgb(176, 227, 235); ;
}

.login-container button:hover {
    opacity: 0.9;
}

.register{
    color: rgb(204, 227, 240);
    text-decoration: underline  ;
}

@media screen and (max-width:800px){
    .navbar{
        height: 60px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        overflow:hidden;
        background-color: #ffffff;
    }

    .navbar * {
        margin: 0px;
        padding: 2px;
        font-size: 15px;
    }

    .logoimg{
        width: 60px;
    }
    .login{
        margin-left: auto;
    }

    div a:hover i{
        opacity: 0;
    }

    .background h1{
        word-spacing: 0px;
        top: 50px;
        font-size: 30px;
    }

    .background h2{
        font-size:15px ;
        top: 140px;
        letter-spacing: 2px;
    }

    .img{
        height: 900px;
        object-fit: cover;
    }

    .bgimg{
        width: 100%;
        object-fit: cover;
        top: 60%;
        left: -15%;
    }

    .aboutus p{
        margin:0px;
        text-align: center;
        margin-right: 25px;

    }

    .aboutus .info{
        margin: 0px;
    }
    .aboutus{
        margin: 0px;
        height: 450px;
        padding: 0px;
        width: 100%;
        overflow: hidden;
    }

    .aboutus .info{
        width: 100%;
    }

    .extra{
        visibility: hidden;
    }

    .information{ 
        height: 100%;
        grid-template-columns: repeat(1, auto);
        row-gap: 20px;
        /* margin: 10px; */
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .information div{
        margin: 5px;
    }
        
    

}

